$primary-color : #E9A132;
$light-color : #ffff;
$dark-color : #000;
$ashas-color: #666666;
$nav-color: rgba(24, 25, 29, 0.5);

$font-weights: (
    'regular' : 400,
    'medium' : 500,
    'bold' : 700,
    );
   