@import './reset', './variables', './style';

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');




body {

    font-family: "Rubik", sans-serif;
    font-weight: map-get($font-weights, 'regular');
}

.bg-img {
    background-image: url('../image/Slider--1.png');
    background-repeat: no-repeat;
}

.container {
    max-width: 1400px;
    margin: auto;
}

.sub-nav {
    padding: 15px;
    background: $dark-color;
    color: $light-color;

    div {
        display: flex;
        justify-content: space-between;

        span {
            color: $ashas-color;
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}

// nav section
.overlay {
    background: #151519ae;
}

nav {
    background: $nav-color;

    // padding: 40px 0;
    position: sticky;

    .nav-section {
        display: flex;
        height: 95px;
        justify-content: space-between;
        align-items: center;

        .left-nav-section {
            display: flex;

            ul {
                list-style: none;
                display: flex;
                align-items: center;


                li.main-li {
                    padding-left: 60px;
                    position: relative;

                    a {
                        text-decoration: none;
                        color: $light-color;
                        padding-bottom: 20px;

                        &:hover {
                            color: $primary-color;

                        }
                    }

                }

                .menu-item-has-children>a::after {
                    content: "+";
                    // font-family: "Font Awesome 6 Free";
                    margin: 5px;
                    font-weight: map-get($font-weights, 'bold');

                }
            }

            // dropdown menu section
            .menu-item-has-children {
                position: relative;

            }

            .menu-item-has-children ul.dropdown {
                position: absolute;
                top: 34px;
                display: flex;
                flex-direction: column;
                background: rgb(33, 32, 32);
                padding: 10px 20px;
                width: 180px;
                display: none;
                border-radius: 5px;
            }

            .menu-item-has-children ul li {

                margin: 5px;
            }

            .menu-item-has-children ul li a {
                font-size: 14px;
                display: block;
                width: 130px;
                padding-bottom: 15px;
                border-bottom: 1px solid $ashas-color;
            }

            .menu-item-has-children:hover ul.dropdown {
                display: block;
            }


            // end dropdown menu

            .logo a {
                color: $light-color;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 40px;
                font-family: "Barlow Condensed", sans-serif;

            }
        }

        .right-nav-section {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: $light-color;

            .number {
                display: flex;
                justify-content: space-between;
                padding-left: 40px;

                div {
                    padding: 5px;
                }
            }

        }



    }
}

.hero-section {
    height: 78vh;
    background-image: url('../image/shap\ \(1\).svg'), url('../image/shap.svg'), ;
    background-position: left top, right bottom;
    background-repeat: no-repeat, no-repeat;
    // background: rgba(0, 0, 0, 0.381);


    color: $light-color;

    .hero-container {
        display: flex;
        justify-content: start;
        padding-top: 200px;



        .social-section {
            display: flex;
            flex-direction: column;
            margin-top: 50px;


            a {
                transition: all .5s ease;
                padding: 5px;
                border-radius: 50%;
                margin: 5px 0;
            }

            a:hover {
                background: $primary-color;
                border-radius: 50%;
                display: flex;
                padding: 5px;
                align-items: center;
            }
        }

        .inoventive-section {
            p {
                font-size: 18px;
                line-height: 29px;
                font-weight: map-get($font-weights, 'regular');
            }

            h1 {
                font-size: 60px;
                font-weight: map-get($font-weights, 'bold');
                margin-bottom: 15px;
            }

            // slider button
            button {
                @include primary-btn;
                margin-top: 15px;

                &:hover {
                    background: $primary-color;
                    opacity: .7;
                }

                img {
                    margin-left: 10px;
                }
            }
        }

        .btn {
            display: flex;
            flex-direction: column;
            gap: 15px;
            justify-content: center;
            margin-left: 220px;

            button {
                width: 45px;
                height: 45px;
                border-radius: 50%;
                border: none;

                &:hover {
                    background-color: $primary-color;
                }
            }
        }

        .inoventive-section {
            max-width: 749px;
            margin-left: 170px;

        }
    }
}

.overlay2 {
    background-color: #17191d;
}

.running-section {
    background-image: url('../image/header-bg-1\ 1.png');

    height: 200px;
}